In [12]:
nums = [1]

In [14]:
print(len(nums)+1)

2

In [10]:
minn = min(nums)
maxx = max(nums)+1
set1 = set(range(minn, maxx))
print(set1)

{0, 1}

In [ ]:


set1 = set(range(minn, maxx))
set2 = set(nums)

NameError: name 'minn' is not defined

In [ ]:

set1 = set(range(minn, maxx))
set2 = set(nums)
df = set1 - set2
if df:
    return df.pop()
return None

In [17]:
s ="aacc"
t ="ccac"

In [18]:
list1 = list(s)
list2 = list(t)
diff = [item for item in list2 if item not in list1]
print(list1,list2,diff)

['a', 'a', 'c', 'c'] ['c', 'c', 'a', 'c'] []

In [20]:
nums = [2,7,11,15]
target = 9

In [31]:
seen = {}
for i in range(len(nums)):
    diff = target - nums[i]
    if diff in seen:
        print(f"{i} seen")
        print(nums[i])
        print([seen[diff],i])
    else:
        seen[nums[i]] = i
        print(f"{i} else")
        print(nums[i])
        print( seen)

0 else
2
{2: 0}
1 seen
7
[0, 1]
2 else
11
{2: 0, 11: 2}
3 else
15
{2: 0, 11: 2, 15: 3}

In [35]:
nums = [4,3,2,7,8,2,3,1]
maxx = len(nums)+1
print(maxx)

9

In [38]:
set1 = set(nums)
set2 = set(list(range(1,maxx)))
diff = set2-set1
print(list(diff))
print(set2)

[5, 6]
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
nums1=[1,2,3,1]
nums2=[2,2]
same1 = [item for item in nums2 if item in nums1]
same2 = [item for item in nums1 if item in nums2]
print(same1)
print(same2)

[2, 2]
[2]

In [ ]:
nums.reduce(:^)

In [53]:
nums = [2,2,1]
result = 1
for num in nums:

    result ^=num
    print(result)

3
1
0

In [52]:
print(0^1)

1